<h1>{{ note.title_note }}</h1>
<ul>
    {% for body in note.body_set.all %}
        <li>{{ body.body_text }}</li>
    {% endfor %}
</ul>
<form action="{% url 'notes:vote' note.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ note.note_title }}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for body in note.body_set.all %}
            <input type="radio" name="body" id="body{{forloop.counter}}" value="{{body.id}}">
            <label for="body{{ forloop.counter }}">{{ body.body_text }}</label>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>