{% if note %}
    <fieldset>
        <legend><h1>{{note.note_title}}</h1></legend>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <ul>
    {% for body in body_list %}
        <form action="{% url 'notes:edit' note.id %}" method="POST">
            {% csrf_token %}
            <input type="text" id="body_id" value="{{body.id}}" disabled hidden/>
            <textarea name="body" disabled rows="10" cols="50">
                {{body.body_text}}
            </textarea>
            <input type="submit" value="Edit"/>
        </form>
    {% endfor %}
    </ul>
    </fieldset>
{% else %}
    <p>This note doesn't exits.</p>
{% endif %}