{% if note %}
    <fieldset>
        <legend><h1>{{note.note_title}}</h1></legend>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <ul>
        {% for body in body_list %}
        <form action="{% url 'notes:edit' note.id body.id %}" method="POST">
            {% csrf_token %}
            <textarea name="body" disabled rows="10" cols="50">
                {{body.body_text}}
            </textarea>
            <input type="submit" value="Edit"/>
        </form> 
        {% endfor %}
        <a href="{% url 'notes:new' note.id %}">
            <button>Create Note</button>
        </a>
    </ul>
    </fieldset>
{% else %}
    <p>This note doesn't exits.</p>
{% endif %}